<div class="card">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel header="Stratum Manager" [style]="{width: '80%', height: '500px', margin: '0 auto'}">
        <div style="margin-bottom: 20px">
            <p-menubar [model]="items"></p-menubar>
        </div>
    <p-table [value]="stratumArray" [scrollable]="true" scrollHeight="300px" selectionMode="single" [(selection)]="selectedStratum" dataKey="id" styleClass="p-datatable-sm" 
    [tableStyle]="{'min-width': '50rem'}" [columns]="cols" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stratum let-columns="columns">
            <tr [pSelectableRow]="stratum" >
                <td *ngFor="let col of columns">
                    {{stratum[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<!-- AQUÍ SE AGREGA UNO NUEVO-->

<p-dialog header="New stratum" [(visible)]="displaySaveDialog" [modal]="true">
    <div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="id">ID</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [min]="1" id="id" [(ngModel)]="stratum.id"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="costPerCm">Cost Per CM</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [min]="0" id="costPerCm" [(ngModel)]="stratum.costPerCm" mode="currency" currency="USD" locale="en-US" [minFractionDigits]="1" [maxFractionDigits]="2"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="businessDays">Business Days</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [min]="0" id="businessDays" [(ngModel)]="stratum.businessDays"></p-inputNumber>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="saveStratum()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>

<!-- EDITOR DE ESTRATOS AQUÍ -->

<p-dialog header="Edit stratum" [(visible)]="displayEditDialog" [modal]="true">
    <div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="id">ID</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber id="id" [(ngModel)]="stratum.id" [readonly]="true"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="costPerCm">Cost Per CM</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [min]="0" id="costPerCm" [(ngModel)]="stratum.costPerCm" mode="currency" currency="USD" locale="en-US" [minFractionDigits]="1" [maxFractionDigits]="2"></p-inputNumber>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="businessDays">Business Days</label>
            </div>
            <div class="ui-g-8">
                <p-inputNumber [min]="0" id="businessDays" [(ngModel)]="stratum.businessDays"></p-inputNumber>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-check" (click)="editStratum()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>
</div>